<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shield Game!</title>
</head>
<body>
  <h1>EXP : <%= exp %></h1>
  <form method = "post">
    <%= percent %>++;
    <input type = "submit" value = "더하기">
  </form>
    <br>
  <h1>Percent : <%= percent %></h1>
  <a href = "logout"><input type = "button" value = "로그아웃"></a>
</body>
<html>
