<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Shield Game!</title>
</head>
<body>
  <h1>EXP : <%= exp %>/<%= per %></h1>
    <a href = "exp"><input type = "button" value = "강화"></a>
    <br>
  <h1>Level : <%= level %></h1>
  <a href = "logout"><input type = "button" value = "로그아웃"></a>
</body>
<html>
